* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin-left: 30px;
  margin-right: 30px;
}

#header {
  text-align: center;
}

#container {
  background-color: pink;
  margin: 10px auto;
  max-width: 800px;
  padding: 38px 31px;
}

input {
  font-size: 21px;
  line-height: 33px;
  margin: 0 0 23px 0;
  padding: 0 9px;
  width: 100%;
}

button {
  font-size: 21px;
  line-height: 33px;
  margin: 0 0 23px 0;
  padding: 0 6px;
}

#instructions {
  background-color: blanchedalmond;
  margin: 10px auto;
  padding: 20px;
  width: 100%;
}

#output-div {
  background-color: lightgrey;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
}
.image-child {
  padding-right: 20px;
  padding-left: 20px;
}

#dice {
  max-width: 100px;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
}

.img-text {
  text-align: center;
  margin: 5px auto;
}
.hidden {
  display: none;
}

#scoreboard {
  background-color: goldenrod;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  height: 12rem;
}

.player-0 {
  text-align: center;
  float: left;
  /* width: 360px; */
  height: 100px;
  margin: 0px auto;
  /* padding: 10px; */
}
.player-1 {
  text-align: center;
  float: right;
  width: 360px;
  height: 100px;
  margin: 0px auto;
  /* padding: 10px; */
}

.name {
  width: auto;
  margin: 0px auto;
  text-align: center;
}

.current {
  background-color: gold;
  width: 360px;
  margin: 0px auto;
  height: 5rem;
}
